body{
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 10em;
}

#container{
  margin: 2em auto 4em auto;
  width: 400px;

}
#slider{
  width: 200px;
  display: inline-block;
  margin-top: 1em;
}
#custom-handle {
    color:white;
    width: 2.5em;
    height: 2.5em;
    top: 50%;
    margin-top: -1.2em;
    text-align: center;
    line-height: 2.55em;
    border: none;
    background: rgb(140, 160, 244);
    cursor: ew-resize;
    border-radius: 50%;
    outline : none;
  }
 #custom-handle:active{
   color:rgb(2, 9, 96);
 }
canvas{
  cursor:crosshair;
}

#button{
  bottom: 0;
  padding: 1em;
  display: inline-block;
  float: right;
  width: auto;
  background: rgb(140, 160, 244);
  transition: all 250ms;
  color: white;
}

#button:hover{
  transform: translate(6px, 0px);
  cursor: pointer;
}

#button:active{
  background: white;
  color:rgb(2, 9, 96);
  outline: 4px rgb(140, 160, 244) solid; /* inner stroke */
  outline-offset:-4px; /* negative border width + outline width */
  cursor: pointer;
}
